.vs/
.idea/
.vscode/
**/bin/
**/obj/
artifacts/
TestResults/
*.user
*.suo
*.binlog
*.trx
*.coverage
*.coveragexml
*.nupkg
*.snupkg
*.tmp
*.log
.DS_Store
Thumbs.db
YetAnotherAnalyzerProfiler/
tests/local-feed/packages/
tests/local-feed/.packages/
